*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  box-sizing: border-box;
}
body{
  background: #080808;
  color: #ffffff;

}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(Visuals/BackgroundTester.jpg);
  background-size: cover;
  background-position: center;
}
.Logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 5px;
  background: grey;
  position: absolute;
  transition: 0.8s;
  left: 0;
  bottom: -5px;
}
nav ul li a:hover::after{
  width: 100%;
}
/*==================================About Me Section==================================*/
#about{
  padding: 80px 0;
  color: #ffffff;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rightCol{
  flex-basis: 55%;
}
.leftCol{
  flex-basis: 45%;
}
.leftCol img{
  width: 100%;
  border-radius: 15%;
  border-style: ridge;
  border-color: blanchedalmond;
}
.sections{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.secTitles{
  color: #341c04;
  margin-right: 15px;
  cursor: pointer;
}
.txtInfo{
  display: none;
}
.txtEdu{
  display: none;
}
.txtSkills{
  display: none;
}
.txtExp{
  display: none;
}

/*==================================Projects Section==================================*/
/*==================================Contact Section==================================*/